body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#container {
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    border: 2px solid black;
}

.square {
    flex-shrink: 1;
}

#hover {
    background-color: red;
}